@model LoginUser

<h3 class="text-center textColor">Login</h3>
<hr />

<form asp-action="Login" asp-controller="User" method="POST">
  <div class="mb-3">
    <label class="textColor marLefting" asp-for="LoginEmail">Email : </label>
    <span
      class="text-danger font-weight-bold"
      asp-validation-for="LoginEmail"
    ></span>
    <input class="form-control inputReg marLefting" asp-for="LoginEmail" />
  </div>

  <div class="mb-3">
    <label class="textColor marLefting" asp-for="LoginPassword"></label>
    <span
      class="text-danger font-weight-bold"
      asp-validation-for="LoginPassword"
    ></span>
    <input class="form-control inputReg marLefting" asp-for="LoginPassword" />
  </div>
  <div>
    <button class="button marLefting marTop" href="/">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    Login
    </button>
  </div>
</form>