@model Zip

<form method="post" asp-controller="Zip" asp-action="Index">
    <label>Enter URL to get zipped:</label>
    <input type="text" name="zipUrl" />
    <br />
    <button type="submit" name="getZipped">getZipped</button>
</form>



