@model Zip

<form method="post" asp-controller="Zip" asp-action="Index">
    <div>
        <div class="imgHolder">
            <img class="lightbulb" src="~/img/lightbulb.png" alt="">
            <p class="textColor spam">GotData</p>
        </div>
        
        <div class="contain">
            
            <div class="inputMove">
                <label class="textColor mb-5 textSize">Enter URL to get got :</label>
                <input class="inputSize input" type="text" name="zipUrl" />
                
            </div>
            <div>
                <button type="submit" class='glowing-btn'><span class='glowing-txt'>GOT<span class='faulty-letter'>DA</span>TA</span></button>
            </div>
            <div>
            </div>
        </div>
    </div>
</form>



